<div *ngFor="let data of content">
  <div class="sidemenu">
    <h2 id='detailName'>{{data.name}}</h2>
  </div>
  <table class="table table-bordered table-hover table-responsive">
    <tbody>
      <tr>
        <th width="15%">訓練單位</th>
        <td>{{data.department}}</td>
      </tr>
      <tr>
        <th width="15%">報名及洽詢電話</th>
        <td>{{data.telephone}}</td>
      </tr>
      <tr>
        <th width="15%">人數</th>
        <td>{{data.number}}</td>
      </tr>
      <tr>
        <th width="15%">時數</th>
        <td>{{data.hours}}</td>
      </tr>
      <tr>
        <th width="15%">預定開訓日期</th>
        <td>{{data.beginTime}}</td>
      </tr>
      <tr>
        <th width="15%">預定結訓日期</th>
        <td>{{data.endTime}}</td>
      </tr>
      <tr>
        <th width="15%">自行負擔費用</th>
        <td>{{data.cost}}</td>
      </tr>
      <tr>
        <th width="15%">上課地點</th>
        <td>{{data.address}}</td>
      </tr>
    </tbody>
  </table>
</div>