<div *ngFor="let data of content">
  <div class="sidemenu">
    <h2 id='detailName'>{{data.name}}</h2>
  </div>
  <table class="table table-bordered table-hover table-responsive">
    <tbody>
      <tr>
        <th width="20%">鄉鎮名稱</th>
        <td>{{data.district}}</td>
      </tr>
      <tr>
        <th width="20%">村里名稱</th>
        <td>{{data.village}}</td>
      </tr>
      <tr>
        <th width="20%">地點描述</th>
        <td>{{data.address}}</td>
      </tr>
      <tr>
        <th width="20%">管理單位</th>
        <td>{{data.department}}</td>
      </tr>
      <tr>
        <th width="20%">管理單位聯絡電話</th>
        <td>{{data.telephone}}</td>
      </tr>
      <tr>
        <th width="20%">最新公廁級別</th>
        <td>{{data.level}}</td>
      </tr>
    </tbody>
  </table>
</div>