<sebm-google-map [latitude]="defLat" [longitude]="defLng">
  <sebm-google-map-marker *ngFor="let m of markers" [longitude]="m.px" [latitude]="m.py" [label]="" [title]="m.title" [iconUrl]=''>

    <sebm-google-map-info-window [longitude]="m.px" [latitude]="m.py">
      <table class="table table-bordered table-hover table-responsive table-striped table-markerinfo">
        <tbody>
          <tr>
            <td><strong>名稱</strong></td>
            <td [innerHTML]="m.name"></td>
          </tr>
          <tr>
            <td><strong>簡介</strong></td>
            <td [innerHTML]="m.tolDescribe"></td>
          </tr>
          <tr>
            <td><strong>郵遞區號</strong></td>
            <td [innerHTML]="m.zipCode"></td>
          </tr>
          <tr>
            <td><strong>地址</strong></td>
            <td [innerHTML]="m.address"></td>
          </tr>
          <tr>
            <td><strong>管理單位</strong></td>
            <td [innerHTML]="m.tyWebsite"></td>
          </tr>
          <tr>
            <td><strong>網站</strong></td>
            <td [innerHTML]="m.website"></td>
          </tr>
          <tr>
            <td><strong>費用</strong></td>
            <td [innerHTML]="m.charge"></td>
          </tr>
          <tr>
            <td><strong>營業時間</strong></td>
            <td [innerHTML]="m.openTime"></td>
          </tr>
          <tr>
            <td><strong>電話</strong></td>
            <td [innerHTML]="m.tel"></td>
          </tr>
          <tr>
            <td><strong>傳真</strong></td>
            <td [innerHTML]="m.fax"></td>
          </tr>
          <tr>
            <td><strong>停車資訊</strong></td>
            <td [innerHTML]="m.parkingInfo"></td>
          </tr>
          <tr>
            <td><strong>交通資訊</strong></td>
            <td [innerHTML]="m.travellingInfo"></td>
          </tr>
          <tr>
            <td><strong>備註</strong></td>
            <td [innerHTML]="m.remarks"></td>
          </tr>
          <tr>
            <td><strong>更新時間</strong></td>
            <td [innerHTML]="m.changeTime"></td>
          </tr>
        </tbody>
      </table>
    </sebm-google-map-info-window>

  </sebm-google-map-marker>
</sebm-google-map>