.sebm-google-map-container {
  height: 500px;
}

.table-markerinfo{
  font-size:14px;
  font-family: 微軟正黑體;
  font-weight: bold;
}

.table-markerinfo tbody tr td:first-child{
  width: 12%;
}

.table-markerinfo tbody tr td{
  width: 88%;
  padding: 2px;
}

pre {
	font-family: 微軟正黑體;
  white-space: pre-wrap;
  margin-top: 0px;
  margin-bottom: 0px;
}

